<template name="workerView">
    <section class="section-divider textdivider divider7">
        <div class="container">
            <br><br><br><br><br><br><br>
        </div><!-- container -->
    </section><!-- section -->

    <div id="greywrap">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="margin-top:-0.5em;">
                <button value="Зарплата" id="bSalaryUser">Зарплата</button>
                <button value="Пользователи" id="bProfileUser">Профиль</button>

                <div id="divSalaryUser" hidden>
                    {{>salaryViewTable}}



                </div>

                <div id="divProfileUser" hidden>
                   userProfile
                </div>
            </div>
        </div>
    </div>
</template>